<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="utf8" />
        <title>phasergame</title>
        <base href=".">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
        <style>
            body { 
                margin: 0;
                background-color: midnightblue;
            }
        </style>
    </head>
    <body>
         <div id = "megaman"></div>
        <script type="text/javascript" src="{% static 'phasergame/Scene1.js' %}"></script>
        <script type="text/javascript" src="{% static 'phasergame/phasergame.js' %}"></script>
    </body>
</html>
  